*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: capitalize;

}
html,body{
    width: 100%;
    height: 100%;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    
}
body{
    background: #f9f9f9;
}
section{
    min-height: 100vh;
    padding: 0 9%;
    padding-top: 7.5rem;
}
.btn{
    display: inline-block;
    /* margin-top: .5rem; */
    padding: .8rem 3rem;
    border-radius: 5rem;
    background: linear-gradient(#b856b8,#ec8697);
    font-size: 1.5rem;
    color: #fff;
    cursor: pointer;
    box-shadow: 0  .5rem 1rem rgba(0, 0, 0, .1);
    transition: all .3s linear;
}
.btn:hover{
    /* transform: scale(1.1); */
    color: #fff;
    background: linear-gradient(#c5828d,#c994c9);
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .5);
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}
header .logo{
    font-size: 2rem;
    color: #8d288d;
    text-transform: capitalize;
}
header .logo span{
    color: #cc5f71;
    text-transform: capitalize;
}
header .navbar a{
    font-size: 1.7rem;
    margin-left: 2rem;
}
header .navbar a:hover{
    color: #cc5f71;
}
header input{
    display: none;
}
header label{
    font-size: 3rem;
    color: #8d288d;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
}
.home{
    display: flex;
    align-items: center;
    justify-content: center;
    background:#fff;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.home .image{
    width: 50vw;
    /* background-color: #333; */
    /* border-radius: 50%; */
}
.home .image img{
    width: 40vw;
    animation: float 3s linear infinite; 
    border-radius: 80px;
    box-shadow: 0  .5rem 1rem rgba(0, 0, 0, .5);
}




/* @keyframes float{
    0%,100%{
        transform: translateY(0rem);
    }
    50%{
        transform: translateY(-3.5rem);
    }
} */
.home .content h3{
    font-size: 5.5rem;
    color: #333;
    text-transform: capitalize;

}
.home .content h3 span{
    color: #8d288d;
    text-transform: uppercase;
    font-style: italic;
    text-shadow: 0 0 10px #6A1E55 ;
}
.home .content p{
    font-size: 1.7rem;
    color: #666;
    padding: 1rem 0;

}
.icons{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    gap: 35px;
}
.icons h2{
    font-size: 20px;
}
.box1{
    display: flex;
    align-items: center;
    gap: 35px;
    /* flex-direction: column; */
}
.box2{
    display: flex;
    align-items: center;
    gap: 35px;

}
.icons .box1 i{
    font-size: 40px;
    border-radius: 40px;
    text-shadow: 0 0 10px #6A1E55 ;
    /* box-shadow: 0  .5rem 1rem rgba(0, 0, 0, .5) ; */
    color: #8d288d;
    background: none;
}
.icons .box1 i:hover{
    color: #cc5f71;
    transform: scale(1.1);
}
.icons .box2 img{
    width: 50px;
    height: 50px;
    box-shadow: 0  .5rem 1rem rgba(0, 0, 0, .5) ;
    background: none;
    border-radius: 50px;
}
.icons .box2 img:hover{
    transform: scale(1.1);
}























/* media queries */
@media (max-width:1200px){
    html{
        font-size: 55%;
    }
    
}
@media (max-width:991px){
    section{
        padding: 0 3%;
        padding-top: 7.5rem;
    }
    
}

@media (max-width:768px){
    header label{
        visibility: visible;
        opacity: 1;
    }
    header .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: #fff;
        padding: 1rem 2rem;
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0  .5rem 1rem rgba(0, 0, 0, .1);
        transform-origin: top;
        transform: scaleY(0);
        opacity: 0;
        transition: .2s linear;

    }
    header .navbar a{
        display: block;
        margin: 2rem 0;
        font-size: 2rem;
    }
    header input:checked ~ .navbar{
        transform: scaleY(1);
        opacity: 1;
        transition: .3s linear;

    }
    header input:checked ~ label::before{
        content: '\f00d'
    }
    .home{
        flex-flow: column-reverse;
    }
    .home .image img{
        width: 100%;
    }
    .home .content h3{
        font-size: 3.6rem;
        padding-top: 15px;
    }
    .home .content p{
        font-size: 1.5rem;
    }
}

@media (max-width:450px){
    html{
        font-size: 50%;
    }
    
}